body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.cards {
  /* förmodligen något med grid här :)  */
}
.card {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
}

/* platta 700 - 1000  */

/* desktop 1000 - 1200  */

/* desktop 1200+  */
